{% extends "base.html" %}

{% block title %}{{ title }} Visión de Cristo | Radio{% endblock title %}

{% block content %}

<section id="featured">

<div class="container">
<div class="jumbotron">
		<img src="{{ url_for('static', filename='img/works/En_Vivo.png') }}" class="pull-right" alt="Escuchar En Vivo"/>

	<div class="container">
		<h1>RADIO</h1>
		<p><strong>Llevando el Mensaje de Cristo, através de la Radio</strong></p>
		<p><strong>"id por todo el mundo, y predicad el Evangelio..."</strong></p>
		<p><a href="#" class="btn btn-danger btn-lg">Escuchar En Vivo</a></p>
	</div>

	</div>

</div>


</section>

<div class="container">
	<div class="row">
		<div class="col-lg-12">

		<div class="p-center">
		<div class="text-center">
		<div class="big-cta">
		<span><h2>Internet Radio</h2><span>
		</div>

		<p>Visión de Cristo es una plataforma ministerial, sin fines de lucro, que tiene como meta continuar propagando el mensaje del evangelio, atraves de la <strong>Radio, TV, y Blogs.</strong> Invitamos a todos los ministerios, Iglesias, y organizaciones cristianas que prediquen las sana doctrinas a formar parte de este ministerio.</p>

		</div>
		</div>

		</div>
	</div>
		
	</div>
{% endblock content %}